# ========== Node.js ========== #
node_modules/

# ========== Frontend ========== #
frontend/node_modules/
frontend/build/

# ========== Logs ========== #
*.log

# ========== OS/System files ========== #
.DS_Store
Thumbs.db
